section{
  background: slategrey;
  color: #fff;
  padding: 50px;
}

.contentContainer{
  background: darkslategrey;
  border: 4px solid #fff;
  padding: 30px;
}

.quesContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shortanswrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
